.estado-svg path[data-name]:hover {
    fill: #e5003d !important;
    transition: fill 0.3s ease !important;
}

.estado-svg rect {
    opacity: 1;
    fill: #9fdaeb;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: none;
    stroke-width: 1.05599999;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.estado-svg path {
    stroke-width: 1px !important;
    stroke-linecap: butt !important;
    stroke-opacity: 1 !important;
    fill-rule: evenodd !important;
    fill-opacity: 1 !important;
    stroke: #000000 !important;
    stroke-linejoin: miter !important;
}

.stado-svg text {
    font-style: normal !important;
    font-weight: normal !important;
    fill: #000000 !important;
    fill-opacity: 1 !important;
    stroke: none !important;
    stroke-width: 1px !important;
    stroke-linecap: butt !important;
    stroke-linejoin: miter !important;
    stroke-opacity: 1 !important;
    font-family: "Bitstream Vera Sans" !important;
}