DB_HOST="localhost"
DB_USER="postgres"
DB_PASSWORD="password"
DB_NAME="db"
DB_PORT="5432"
PORT=3000
JWT_SECRET="JWT_SECRET"
ACCESS_COOKIE_NAME = 'ACCESS_COOKIE_NAME'
REFRESH_COOKIE_NAME = 'REFRESH_COOKIE_NAME'
ACCESS_TOKEN_EXPIRATION = '1h'
REFRESH_TOKEN_EXPIRATION = '1d'
LOGGER=false